$bgcolor1: #3faf82;
$bgcolor2: #fff;
body {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .background {
      background-color: $bgcolor1;
      width: 400px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .menu-icon {
        display: flex;
        flex-direction: column;
        transition: all 0.3s linear;
        &:hover {
          cursor: pointer;
          //   span {
          //     &:first-child {
          //       transform: translateY(24px) rotate(45deg);
          //     }
          //     &:nth-child(2) {
          //       transform: scale(0);
          //     }
          //     &:last-child {
          //       transform: translateY(-24px) rotate(-45deg);
          //     }
          //   }
        }
        span {
          width: 100px;
          margin: 7px auto;
          height: 10px;
          border-radius: 25px;
          background-color: $bgcolor2;
          transition: transform 0.5s ease-in-out;
        }
      }
      .active {
        span {
          &:first-child {
            transform: translateY(24px) rotate(45deg);
          }
          &:nth-child(2) {
            transform: scale(0);
          }
          &:last-child {
            transform: translateY(-24px) rotate(-45deg);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .background {
    min-width: 800px;
    min-height: 800px;
    .menu-icon {
      span {
        min-width: 200px;
        min-height: 20px;
        margin: 12px !important;
      }
    }
    .active {
      span {
        &:first-child {
          transform: translateY(43px) rotate(45deg) !important;
        }
        &:nth-child(2) {
          transform: scale(0) !important;
        }
        &:last-child {
          transform: translateY(-43px) rotate(-45deg) !important;
        }
      }
    }
  }
}
